<footer>
  <div class="footer-content">
    <p>&copy; 2023 SavvyBrainBuster</p>
    <div class="footer-links">
      <a href="https://github.com/trevorapena" target="_blank">
        <img src="/images/tpng" alt="Trevor Apena">
      </a>
      <a href="https://github.com/smpilecki" target="_blank">
        <img src="/images/spng" alt="Sarah Pilecki">
      </a>
      <a href="https://github.com/charium" target="_blank">
        <img src="/images/cpng" alt="Chloe Hall">
      </a>
      <a href="https://github.com/sfonua10" target="_blank">
        <img src="/images/sapng" alt="Saia fonua">
      </a>
    </div>
  </div>
</footer>
