<header>
  <nav>
    {{#if loggedIn}}
    <button id="logout" class="navbtn">
      <svg class="star" height="70px" width="70px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-7.54 -7.54 68.95 68.95" xml:space="preserve" fill="#a65a29" stroke="#a65a29" stroke-width="0"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> 
        <polygon class="star-polygon" style="fill:#a65a29 stroke: #071b2a; stroke-width: 3.0;" points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798 10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 "></polygon> </g>
        <text x="30" y="30" font-size="16" text-anchor="middle" fill="white">logout</text>
      </svg>
    </button>
    {{else}}
    <a href="/login" class="navbtn">
      <svg class="star" height="70px" width="70px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-7.54 -7.54 68.95 68.95" xml:space="preserve" fill="#a65a29" stroke="#a65a29" stroke-width="0"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> 
        <polygon class="star-polygon" style="fill:#a65a29 stroke: #071b2a; stroke-width: 3.0;" points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798 10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 "></polygon> </g>
        <text x="30" y="30" font-size="16" text-anchor="middle" fill="white">login</text>
      </svg>
    </a>
    {{/if}}
    <a href="/" class="navbtn">
      <svg class="star" height="70px" width="70px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-7.54 -7.54 68.95 68.95" xml:space="preserve" fill="#a65a29" stroke="#a65a29" stroke-width="0"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> 
        <polygon class="star-polygon" style="fill:#a65a29 stroke: #071b2a; stroke-width: 3.0;" points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798 10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 "></polygon> </g>
        <text x="30" y="30" font-size="16" text-anchor="middle" fill="white">home</text>
      </svg>
    </a>
    <a href="https://theuselessweb.com/" class="navbtn">
      <svg class="star" height="70px" width="70px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-7.54 -7.54 68.95 68.95" xml:space="preserve" fill="#a65a29" stroke="#a65a29" stroke-width="0"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> 
        <polygon class="star-polygon" style="fill:#a65a29 stroke: #071b2a; stroke-width: 3.0;" points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798 10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 "></polygon> </g>
        <text x="30" y="30" font-size="16" text-anchor="middle" fill="white">not home</text>
      </svg>
    </a>
  </nav>
  
  <h1>BrainBuster</h1>
  <h2 class="subhead">New York Times #1 Best Seller</h2>
  <p>The most entertaining quiz app you can spend your time on.</p>
</header>
