<section class="card">
  <header>
    <h2>Quiz Details</h2>
  </header>
  <div class="card-body">
    {{#each quiz.questions}}
      <div class="question-block">
        <h3>{{this.question}}</h3>
        <ul>
          {{#each this.answers}}
            <li>{{this.text}}</li>
          {{/each}}
        </ul>
      </div>
    {{/each}}
    <a href="/quiz" class="btn btn-primary">Back to Quizzes</a>
  </div>
</section>

<script src="/js/quiz.js"></script>