<main>
  <div class="card" style="width: 18rem;">
    <img src="/images/moviegif.gif" class="movieimg" alt="...">
    <div class="card-body">
      <h3 class="quiz-card">Bust some Brain!</h3>
      <p class="card-text">So you think you know it all, huh?</p>
      <a href="/quiz" class="btn btn-primary" id="quiz-link">Yes I do</a>
    </div>
  </div>
</main>

<script>
  // Check if the user is logged in
  document.addEventListener('DOMContentLoaded', () => {
    const loggedIn = {{loggedIn}};
    const quizLink = document.getElementById('quiz-link');

    quizLink.addEventListener('click', (event) => {
      if (!loggedIn) {
        event.preventDefault();
        window.location.href = '/login';
      }
    });
  });
</script>
