<main class="main">
  <div class="card quizcard" style="width: 18rem;">
    <img src="/images/moviegif.gif" class="movieimg" alt="[movie quiz]">
    <div class="card-body">
      <h3 class="quiz-card">Bust some Brain!</h3>
      <p class="card-text">So you think you know it all about movies, huh?</p>
      <a href="/quiz" class="navbtn" id="quiz-link">
      <svg class="star quiz-star" height="100px" width="100px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-7.54 -7.54 68.95 68.95" xml:space="preserve">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier">
          <polygon class="btn-polygon" points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798 10.288,52.549 13.467,34.013 0,20.887 18.611,18.182"></polygon>
          <text x="30" y="30" font-size="16" font-weight="bold" text-anchor="middle" fill="#1b1a1a">Yes I do</text>
        </g>
      </svg>
      </a>
    </div>
  </div>
    <div class="card quizcard" style="width: 18rem;">
      <img src="/images/construction.gif" class="movieimg" alt="[movie quiz]">
      <div class="card-body">
        <h3 class="quiz-card">Under Research</h3>
        <p class="card-text">A large team of many research experts are formulating the toughest questions that garentee a level-10 headache. </p>
        <a href="/quiz" class="navbtn" id="quiz-link">
          <svg class="star quiz-star" height="100px" width="100px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-7.54 -7.54 68.95 68.95" xml:space="preserve">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
              <g id="SVGRepo_iconCarrier">
              <polygon class="btn-polygon" points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798 10.288,52.549 13.467,34.013 0,20.887 18.611,18.182"></polygon>
              <text x="30" y="30" font-size="16" font-weight="bold" text-anchor="middle" fill="#1b1a1a">Yes I do</text>
            </g>
          </svg>
        </a>
      </div>
    </div>    
  <div class="card quizcard" style="width: 18rem;">
      <img src="/images/construction.gif" class="movieimg" alt="[movie quiz]">
      <div class="card-body">
        <h3 class="quiz-card">Under Research</h3>
        <p class="card-text">A large team of many research experts are formulating the toughest questions that garentee a level-10 headache. </p>
        <a href="/quiz" class="navbtn" id="quiz-link">
          <svg class="star quiz-star" height="100px" width="100px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-7.54 -7.54 68.95 68.95" xml:space="preserve">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
              <g id="SVGRepo_iconCarrier">
              <polygon class="btn-polygon" points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798 10.288,52.549 13.467,34.013 0,20.887 18.611,18.182"></polygon>
              <text x="30" y="30" font-size="16" font-weight="bold" text-anchor="middle" fill="#1b1a1a">Yes I do</text>
            </g>
          </svg>
        </a>
      </div>
    </div>
    <div class="card quizcard" style="width: 18rem;">
      <img src="/images/construction.gif" class="movieimg" alt="[movie quiz]">
      <div class="card-body">
        <h3 class="quiz-card">Under Research</h3>
        <p class="card-text">A large team of many research experts are formulating the toughest questions that garentee a level-10 headache. </p>
        <a href="/quiz" class="navbtn" id="quiz-link">
          <svg class="star quiz-star" height="100px" width="100px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-7.54 -7.54 68.95 68.95" xml:space="preserve">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
              <g id="SVGRepo_iconCarrier">
              <polygon class="btn-polygon" points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798 10.288,52.549 13.467,34.013 0,20.887 18.611,18.182"></polygon>
              <text x="30" y="30" font-size="16" font-weight="bold" text-anchor="middle" fill="#1b1a1a">Yes I do</text>
            </g>
          </svg>
        </a>
      </div>
    </div>
</main>

<script>
  // Check if the user is logged in
  document.addEventListener('DOMContentLoaded', () => {
    const loggedIn = {{loggedIn}};
    const quizLink = document.getElementById('quiz-link');

    quizLink.addEventListener('click', (event) => {
      if (!loggedIn) {
        event.preventDefault();
        window.location.href = '/login';
      }
    });
  });
</script>
