<div id="login-form">
<form class="login-form">
  <h2 class="page-title">Login</h2>
  <div class="mb-3 login-card">
    <label for="email-login" class="form-label" >Email address</label>
    <input type="email" class="form-control" id="email-login" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="password-login" class="form-label">Password</label>
    <input type="password" class="form-control" id="password-login">
  </div>
  <button class="btn btn-primary" type="submit">login</button>
</form>

  <form class="signup-form">
  <h2 class="page-title">Signup</h2>
  <div class="mb-3 login-card">
    <label class="form-label" for="username-signup">Username:</label>
    <input class="form-control" type="text" id="username-signup" />
  </div>
  <div class="mb-3 login-card">
    <label class="form-label" for="email-signup">Email:</label>
    <input class="form-control" type="text" id="email-signup" />
  </div>
  <div class="mb-3">
    <label class="form-label" for="password-signup">Password:</label>
    <input class="form-control" type="password" id="password-signup" />
  </div>
    <button class="btn btn-primary" type="submit">signup</button>
    </form>
  </div>
</div>
<script src="./js/login.js"></script>
