<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiz Questions</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  {{> header}}
  <main>
    <h1>Quiz Questions</h1>
    <ul>
      {{#each questions}}
        <li>
          <h2>{{this.question}}</h2>
          <ul>
            {{#each this.options}}
              {{#if (eq this ../correctAnswer)}}
                <li><strong>{{this}}</strong></li>
              {{else}}
                <li>{{this}}</li>
              {{/if}}
            {{/each}}
          </ul>
        </li>
      {{/each}}
    </ul>
  </main>
  {{> footer}}
</body>
</html>
