  <main>
    <h1>Quiz Questions</h1>
    <ul>
      {{#each questions}}
        <li>
          <h2>{{this.question}}</h2>
          <ul>
            {{#each this.options}}
              {{#if (eq this ../correctAnswer)}}
                <li><strong>{{this}}</strong></li>
              {{else}}
                <li>{{this}}</li>
              {{/if}}
            {{/each}}
          </ul>
        </li>
      {{/each}}
    </ul>
  </main>
